@media (max-width: 1025px){
    .box-12{
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .box-1{
        max-width: 680px;
    }
    .box-1-1{
        justify-content: center;
    }
    .section-3-2{
        flex-direction: row;
        column-gap: 56px;
    }
    .section--3{
        flex-direction: column;
    }
    .footer{
        flex-direction: column;
    }
    .logo-7{
        display: none;

    }
    .logo-8{
        display: block;
    }
}
@media (max-width:769px){
    .box-1-1{
        flex-direction: column;
    }
    .section--2{
        flex-direction: column;
        width: 100%;
    }
    .section-2-1{
        max-width: 1000px;
        width: 90%;
        text-align: center;


    }
    .section-2-2{
        justify-content: center;
    }
    .section-3-2{
        flex-direction: column;
        text-align: center;
    }
    .section--3{
        gap: 30px;
    }
    header ul{
        display: none;
    }
    header button{
        display: none;
    }
    .burger-bar{
        display: block;
    }
    h1{
        font-size: 40px;
    }
    h6{
        font-size: 25px;
        line-height: 25px;
    }
    p{
        font-size: 16px;
    }
    .box-12{
        gap: 10px;
    }
    .disappear{
        display: none;
    }
    
}
@media (max-width:670px){
    
    .footer-1{
        flex-direction: column;
        align-items: center;
        gap:20px;
        text-align: center;
    }
    .logo-8{
        margin: 0 auto;
    }
}