/* main style */
.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1150px;
}
/* text styles */
h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 60px;
}
p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}
h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
}
h6{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: white;
}
.white-button{
    background-color: white;
    color: black;
}
footer h5{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: white;
}
footer p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
/*  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: white;
}
nav ul{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.burger-bar{
    display: none;
}
.box-12{
    display: flex;
    align-items: center;
    max-width: 1150px;
    margin: 0 auto;
    gap: 120px;
}
.box-1{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}
.box-1-1{
    display: flex;
    align-items: center;
    max-width: 640px;
    width: 100%;
    gap: 25px;
}
.box-2{
    width: 100%;
}
button{
    background-color: black;
    color: white;
    width: 100px;
    height: 48px;   
    border-radius: 32px;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.section-2{
    width: 100%;
    background-color: #F3F3F3;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 50px;
    padding: 80px 0;
}
.section--2{
    display: flex;
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.section-2-1{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    gap: 20px;
}
.circle{
    background-color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.section-2-2{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;

}
.white{
    color: white;
}
.section-3{
    width: 100%;
    background-color: black;
    padding: 96px 0;
}
.section--3{
    display: flex;
    align-items: center;
    gap: 133px;
}
.section-3-2{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}
.section-3-1{
    width: 100%;
}
.photo-2{
    border-radius: 30px;
    width: 100%;

}
.p-section{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.section-4{
    position: relative;
}
.photo-3{
    width: 100%;
}
.photo-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}
.footer{
    display: flex;
    width: 100%;  
    background-color: black; 
    padding: 96px 0;
}
footer ul{
    color: white;
}
.footer-section{
    display: flex;
}
.footer-1{
    display: flex;
    justify-content: space-between;
}
.photo-4{
    width: 120px;
}
.p-5{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    width: 250px;
}
.logo-8{
    width: 100px;
    margin-left: 32px;
    display: none;
}